extends container
block content
    p Hello, #{userName}
    p Thank you for joining us!
    p Please click to the link below to activate your account
        a(href=`http://localhost:5000/auth/activate/${token}`) CLICK
